<div class="container">
  <%= form_tag forecast_path, method: :get do %>
  <label for="zip_code">Zip Code</label>
  <%= text_field_tag :zip_code %>
  <%= submit_tag "Should I Play Golf?" %>
<% end %>
</div>
